body {
  background-color: black;
  padding-top: 50px;
}

.container {
    left: 0;
    margin-top: -200px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

h1 {
  font-family: 'Share Tech', sans-serif;
  color: white;
}

img {
    margin: 0 auto;
    display: block;
}
