html, body {
  height: 100%;
}

body {
  background-color: black;
  background-image: url('images/victorious-wallpaperv2.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; 
}

.container {
    left: 0;
    margin-top: -300px;
    margin-right: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 46%;
}

h1 {
  font-family: 'Share Tech', sans-serif;
  color: white;
}

img {
    margin: 0 auto;
    display: block;
}
